<h1 class="page-name">Список соревнований</h1>
<app-input (onSearch)="startSearch($event)"></app-input>
<app-table [thead]="thead">
<ng-container *ngIf="competitions$ | async as competitions">
    <tr *ngFor="let competition of competitions | search :searchStr"
        [routerLink]="['/competitions', competition.id]"
    >
      <td>{{competition.name}}</td>
      <td>{{competition.areaName}}</td>
      <td>{{competition.currentSeason?.start | date: 'dd.MM.yyyy'}}
        - {{competition.currentSeason?.end | date: 'dd.MM.yyyy'}}</td>
      <td>{{competition.currentSeason?.matchDays}}</td>
      <td>{{competition.currentSeason?.winnerName}}</td>
    </tr>
</ng-container>
</app-table>


