<h1 class="page-name">Список соревнований</h1>
<div class="search-container">
  <input type="search"
         class="search"
         placeholder="Введите текст..."
  >
  <button type="button"
          class="btn"
  >Поиск
  </button>
</div>
<table class="table">
  <thead class="table-head">
  <tr>
    <th>
      Название
    </th>
    <th>
      Локация
    </th>
    <th>
      Текущий сезон
    </th>
    <th>
      Количество дней
    </th>
    <th>
      Победитель
    </th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr>
    <td>кек</td>
    <td>лол</td>
    <td>уо</td>
    <td>прив</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, provident!</td>
  </tr>
  <tr>
    <td>кек</td>
    <td>лол</td>
    <td>уо</td>
    <td>прив</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, provident!</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
