<div class="bg">
<nav class="nav">
  <img src="../../../assets/icons/football.svg"
       alt="Логотип "
       width="30"
  >
  <ul>
    <li><a [routerLink]="['/competitions']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">Соревнования</a></li>
    <li><a [routerLink]="['/teams']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">Команды</a></li>
  </ul>
  <div class="line"></div>
</nav>
<div class="container" >
  <router-outlet></router-outlet>
</div>
</div>
