.btn {
  background-color: var(--button-default);
  color: var(--button-font-color);
  padding: var(--button-padding);
  font: var(--buttont-font);
  border-radius: var(--radius-s);
  border: none;
}
