@import 'variables';
@import 'src/app/styles/mixins/mixins';

* {
  box-sizing: border-box;
}

.page-name {
  margin: 0 0 30px;
  font: var(--font-title);
  color: var(--color-black);
}

.page-subtitle {
  margin: 0 0 30px;
  font: var(--font-subtitle);
  color: var(--color-black);
}

.mat-table {
  width: 100%;
  border-radius: var(--radius-m);
  overflow: hidden;

  .mat-header-cell {
    color: var(--color-white);
    background-color: var(--color-green-darck);
    text-align: center;
    font: var(--font-text-bold);
  }

  .mat-sort-header-arrow {
    color: var(--color-white) !important;
  }

  .mat-sort-header-container {
    display:flex !important;
    justify-content:center !important;
  }

  .mat-row .mat-cell {
    cursor: pointer;
    text-align: center;
    font: var(--font-text);
  }

  .mat-row:hover .mat-cell {
    background-color: var(--color-grey-light);
  }
}
