<h1 class="page-name">{{teamName$ | async}}</h1>
<app-filter (onSubmitForm)="startFilter($event)"></app-filter>

<table mat-table [dataSource]="matches">

  <!-- Competition Name Column -->
  <ng-container matColumnDef="competitionName">
    <th mat-header-cell *matHeaderCellDef>Название</th>
    <td mat-cell *matCellDef="let element"> {{element.competitionName}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Дата матча</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Home Team Name Column -->
  <ng-container matColumnDef="homeTeamName">
    <th mat-header-cell *matHeaderCellDef>Дом</th>
    <td mat-cell *matCellDef="let element"> {{element.homeTeamName}} </td>
  </ng-container>

  <!-- Away Team Name Column -->
  <ng-container matColumnDef="awayTeamName">
    <th mat-header-cell *matHeaderCellDef>Гость</th>
    <td mat-cell *matCellDef="let element"> {{element.awayTeamName}} </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>Счет</th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>
